$primary_color: #d61212;
$secondary_color: #052750;
$tertiary_color: #ff0000;

$main_speed: all 0.3s linear;
// ------------- Media -------------

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}
