@import "../../Globals.scss";

.navbar {
  padding: 20px 0;
  box-shadow: 0 0 15px 5px #f1f1f1;
  height: 10vh;
  &.md-screens {
    width: 100%;
    height: 100vh !important;
    position: fixed;
    background-color: #fff;
    .links {
      width: 100%;
      height: 100%;

      display: flex !important;
      flex-direction: column;
      justify-content: center;
      gap: 50px !important;
      align-items: center;
      .link {
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
      }
    }
  }
  .menu {
    display: none;
  }
  @include tablet {
    .menu {
      display: block;
    }
    .container {
      flex-direction: column;

      .user {
        order: 1;
        display: none;
      }
    }
  }
  .container {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 40px;
    .links {
      display: flex;
      align-items: flex-start;
      gap: 20px;
      @include tablet {
        display: none;
      }
      .link {
        position: relative;
        text-transform: capitalize;
        position: relative;
        opacity: 0.9;
        font-size: 20px;
        font-weight: 300;
        transition: $main_speed;
        span {
          position: absolute;
          bottom: 0px;
          right: -18px;
          font-size: 10px;
          font-weight: 700;
          // background-color: $primary_color;
          color: $primary_color;
          padding: 5px;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          @include tablet {
            position: relative !important;
            display: inline-block;
          }
        }
        &::before {
          content: "";
          position: absolute;
          bottom: -2px;
          left: 0;
          width: 0;
          height: 2px;
          background-color: $primary_color;
          transition: $main_speed;
        }
        &:hover {
          opacity: 1;
          &::before {
            width: 100%;
          }
        }
        // margin-left: 20px;
      }
    }
    .user {
      span {
        color: $primary_color;
        font-weight: 600;
        text-transform: capitalize;
      }
    }
  }
}
