@import "../../../Globals.scss";
.section {
  .container {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .sectionName {
        text-align: center;
        text-transform: capitalize;
        padding-bottom: 10px;
        // border-bottom: 2px solid;
        font-size: 40px;
        font-weight: 600;
      }
      .control {
        display: flex;
        gap: 20px;
      }
    }
    h3 {
      padding-top: 20px;
      font-weight: 800;
      font-size: 50px;
      text-transform: capitalize;
      text-align: center;
      opacity: 0.8;
      color: #ddd;
    }
    .products {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      gap: 30px;
      margin: 30px 0;
      &.fixed-width {
        grid-template-columns: repeat(auto-fit, 300px);
      }
      .product {
        // background-color: $bg_light;
        padding: 10px;
        transition: $main_speed;
        box-shadow: 0 0 10px 2px $bg_light;

        &:hover {
          box-shadow: 0 0 10px 10px $bg_light;
        }
        .img,
        .img_frame {
          width: 100%;
          height: 200px;
        }
        .img {
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .img_frame {
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid $secondary_color;
          text-transform: capitalize;
          font-weight: 300;
        }
        .details {
          display: flex;
          gap: 20px;
          margin-top: 10px;
          .left,
          .right {
            flex: 1;
            padding: 10px;
          }
          .left {
            text-transform: capitalize;
            background-color: $secondary_color;
            color: #fff;
            .name {
              font-weight: 600;
              margin-bottom: 10px;
            }
          }
          .right {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background-color: $primary_color;
            color: #fff;

            .delete,
            .cart {
              flex: 1;
              display: flex;
              align-items: center;
              justify-content: center;
              svg {
                transition: $main_speed;

                &:hover {
                  color: #000;
                }
              }
            }
          }
        }
      }
      .note {
        width: 100%;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        // justify-content: center;
        color: $primary_color;
        font-weight: 600;
      }
    }
  }
}
